<div class="col-sm-12 col-md-12">
  <div class="thumbnail gy-3">
    <div class="thumbnail-inner border-top border-secondary">
      <div class="caption">
        <div class="event-description">
          <h4 class="fw-bold"><%= link_to post.title, post_path(post), class: 'text-decoration-none text-reset' %></h3>
          <h6 class="text-secondary"><%= post.body %></h3>
          <small class="text-secondary"><%= post.created_at %></small>
        </div>
      </div>
    </div>
  </div>
</div>
