        <section class="team-area team-default-area" data-bg-color="#f3f3f3">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="section-title text-center"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                >
                  <h2 class="title">
                    <span class="fs-3 text-black-60 text-success fw-bold">Об авторе</span>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="swiper-container team-slider-container"
                  data-aos="fade-up"
                  data-aos-duration="1300"
                >
                  <div class="swiper-wrapper team-slider">
                    <!--== Start Team Item ==-->
                    <div class="swiper-slide team-member">
                      <div class="content">
                        <div class="member-info">
                          <div class="buffer-both">
                            <p class="fs-4 text-center text-success"> Всем привет! Меня зовут Екатерина и я веду блог о разных классных животных) </p>
                            <p class="fs-4 text-center text-success"> Присаживайтесь поудобнее и читайте мои посты!)) </p>
                          </div>

                          </div>

                        </div>
                      </div>
                    </div>
                    <!--== End Team Item ==-->
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Team Area Wrapper ==-->

        <section class="team-area team-default-area" data-bg-color="#f3f3f3">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="section-title text-center"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                >
                  <h2 class="title">
                    <span class="fs-3 text-success fw-bold">Посты</span>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="swiper-container team-slider-container"
                  data-aos="fade-up"
                  data-aos-duration="1300"
                >
                  <div class="swiper-wrapper team-slider">
                    <!--== Start Team Item ==-->
                    <div class="swiper-slide team-member">
                      <div class="content">
                        <div class="member-info">
                          <div class="buffer-both">
                            <% if user_signed_in? %>
                              <%= link_to 'Создать событие', new_post_path, class: 'btn btn-grey' %>
                            <% end %>
                          </div>
                            <%= render partial: 'posts/post', collection: @posts%>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!--== End Team Item ==-->
                  </div>
                  <!-- Add Pagination -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--== End Team Area Wrapper ==-->



      <footer class="footer-area">
        <div class="container">

        <div class="footer-bottom">
          <div class="container">
            <div class="row text-center">
              <div class="col-sm-12">
                <div class="widget-copyright">
                  <p> &copy; 2021 <span class="text-uppercase">Blog</span>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
